 
        <ul class="sidebar navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-crow"></i>
                    <span>Livestocks</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="login.html">Livestock</a>
                    <a class="dropdown-item" href="register.html">Farms</a>
                    <a class="dropdown-item" href="forgot-password.html">Disease</a>
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-table"></i>
                    <span>Reports</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="login.html">Livestock</a>
                    <a class="dropdown-item" href="register.html">Farms</a>
                    <a class="dropdown-item" href="forgot-password.html">Disease</a>
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-chart-area"></i>
                    <span>Charts</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <a class="dropdown-item" href="login.html">Livestock</a>
                    <a class="dropdown-item" href="register.html">Farms</a>
                    <a class="dropdown-item" href="forgot-password.html">Disease</a>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" href="login.html">
                    <i class="fas fa-fw fa-sign-in-alt"></i>
                    <span>Login</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="logout.html">
                    <i class="fas fa-fw fa-sign-out-alt"></i>
                    <span>logout</span></a>
            </li>
        </ul>